.black_wrapper{
    background: rgba(0, 0, 0, 0);
    color: #FFF;
    position: relative;
    z-index: 2;
}

.white_wrapper{
    background: #FFF;
    color: #000;
    position: relative;
    z-index: 2;
}

.slide{
    position: relative;
    margin-top: -150px;
}

.img-wrapper{
    background: url('https://balatamilgamer.in/demo/images/banner.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.card{
    position: relative;
}

.cards-img-btn{
    position: absolute;
}


@media screen and (max-width: 450px) {
    .phone{
       text-align: center;
    }
}